<!-- Include bundled scripts and styles -->
<link rel="stylesheet" type="text/css" href="/styles/homepage.bundle.css" />

<div id="homepage"></div>
<script type="text/javascript" src="/js/homepage.bundle.js"></script>
